{{!-- BOTTOM DONATE --}}
<div class="container-fluid" style="padding: 0px">
    <div class="bottomInvolve">
        <div class="bottomInvolveContent">
            <h5 style="font-family: 'Carrois Gothic', sans-serif;">STAY UPDATED</h5>
            <h1 style="font-family: 'Paytone One', sans-serif;">Get Involved</h1>
            <div class="row bottomInvolveInputDiv">
                <div class="col-8" style="padding: 0px">
                    <input type="email" class="form-control bottomInvolveInput" id="bottomInvolveEmail"
                        placeholder="Email address" style="border-radius: 0px">
                </div>
                <div class="col-4" style="padding: 0px">
                    <input type="text" class="form-control bottomInvolveInput" id="bottomInvolveZip" placeholder="Zip"
                        style="border-radius: 0px">
                </div>
            </div>
            <button type="button" class="btn btn-lg text-white" id="bottomInvolveButton">GET INVOLVED</button>
        </div>
    </div>
</div>
</div>

{{!-- FOOTER ROW --}}
<div class="container-fluid">
    <div class="row" id="footer">
        <div class="col-12 col-lg-4" id="leftFooter">
            <img src="images/nav/CL_Logo.jpg" alt="Cindy Lerner Logo" style="border-radius: 10px">
            <br>
            <div style="margin: 50px auto">
                <a role="button" class="btn btn-lg text-white leftFooterButtons" href="/donate">Contribute</a>
                <br>
                <a role="button" class="btn btn-lg text-white leftFooterButtons" href="/volunteer">Volunteer</a>
            </div>
            <div class="row SocialMediaRow">
                <div class="col"><a href="https://www.facebook.com/MayorCindyLerner/" class="fa sa fa-facebook"></a>
                </div>
                <div class="col"><a href="https://twitter.com/CindyforDst7" class="fa sa fa-twitter"></a></div>
                <div class="col"><a href="https://www.instagram.com/cindyfordistrict7/?hl=en"
                        class="fa sa fa-instagram"></a></div>
                <div class="col"><a href="https://www.youtube.com/watch?v=g4UXYV-okFM" class="fa sa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8" id="rightFooter">
            <div class="row d-none d-lg-flex" id="footerNavbar">
                <div class="col"><a href="/" class="footerNavbarLinks">Home <span class="sr-only">(current)</span></a>
                </div>
                <div class="col"><a href="/meet_Cindy" class="footerNavbarLinks">Meet Cindy</a></div>
                <div class="col">
                    <a class="dropdown footerNavbarLinks" href="/priorities" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Priorities
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/traffic">Traffic</a>
                        <a class="dropdown-item" href="/flooding">Flooding</a>
                        <a class="dropdown-item" href="/water">Water</a>
                        <a class="dropdown-item" href="/leadership">Leadership</a>
                    </div>
                </div>
                <div class="col"><a href="/contact" class="footerNavbarLinks">Contact</a>
                </div>
                <div class="col"><a href="/district" class="footerNavbarLinks">District</a></div>
            </div>
            <div id="rightFooterInfo">
                <p>Friends of Cindy Lerner</p>
                <p>1234 Address Dr, Miami FL, </p>
                <p>305-992-3433</p>
            </div>
            <div class="row rightFooterButtons">
                <div class="col"><a href="/privacy_policy" style="padding: 0px 5px">Privacy Policy</a></div>
                <div class="col"><a href="/in_the_media" style="padding: 0px 5px">In the Media</a></div>
            </div>
            <div>
                <p class="paidForBy">PAID FOR BY FRIENDS OF CINDY LERNER</p>
            </div>
            <div>
                <a href="https://estreet.co/" class="designBy">DESIGN BY ESTREET</a>
            </div>
        </div>
    </div>
</div>