<div class="container" id="errorBox">
    <h2 class="infoHead center-align">404 Error</h2>
    <h3>Please check your connection and try again</h3>
    <a href="/"><button class="btn waves-effect waves-light center-align">Go back</button></a>
</div>