<div style="overflow-x: hidden">
    <a href="/donate">
        <div class="chipInDiv">
            <p id="chipInText" class="d-none d-lg-block">CHIP IN $5 TO SUPPORT CINDY LERNER &rarr;</p>
        </div>
    </a>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <img src="/images/nav/CL_Logo.jpg" alt="Cindy Lerner Logo" id="navLogo">
        <button class="d-lg-none" type="button" data-toggle="modal" data-target="#navModal">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" style="margin: auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/meet_Cindy">Meet Cindy</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="/priorities" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Priorities
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/traffic">Traffic</a>
                        <a class="dropdown-item" href="/flooding">Flooding</a>
                        <a class="dropdown-item" href="/water">Water</a>
                        <a class="dropdown-item" href="/leadership">Leadership</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown" href="/in_the_media" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        In the Media
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/south_florida_leadership">South Florida's Leaders</a>
                        <a class="dropdown-item" href="/exalcaldesa">Exalcaldesa de Pinecrest</a>
                        <a class="dropdown-item" href="/mammoth_funding">Mammoth Fundraising Lead</a>
                        <a class="dropdown-item" href="/press_release">Press Release</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/endorsements">Endorsements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/get_involved">Get Involved</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.facebook.com/MayorCindyLerner/" class="nav-link fa fa-facebook"
                        style="padding: 12px"></a>
                </li>
                <li class="nav-item">
                    <a href="https://twitter.com/CindyforDst7" class="nav-link fa fa-twitter" style="padding: 12px"></a>
                </li>
            </ul>
        </div>
        <a role="button" class="btn btn-lg text-white" id="navDonate" href="/donate">Donate</a>
    </nav>

    <!-- Nav Modal -->
    <div class="modal fade" id="navModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="navModalContent">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <br>
                    <h3><a class="navModalLink text-white" href="/">Home</a></h3>
                    <br>
                    <h3><a class="navModalLink text-white" href="/meet_Cindy">Meet Cindy</a></h3>
                    <br>
                    <div class="dropdown" style="font-size: 28px">

                        <a class="navModalLink dropdown-toggle text-white" href="/priorities" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Priorities
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/traffic">Traffic</a>
                            <a class="dropdown-item" href="/flooding">Flooding</a>
                            <a class="dropdown-item" href="/water">Water</a>
                            <a class="dropdown-item" href="/leadership">Leadership</a>
                        </div>
                    </div>
                    <br>
                    <div class="dropdown" style="font-size: 28px">
                        <a class="navModalLink dropdown-toggle text-white" href="/in_the_media" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            In the Media
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/south_florida_leadership">South Florida's
                                Leaders</a>
                            <a class="dropdown-item" href="/exalcaldesa">Exalcaldesa de Pinecrest</a>
                            <a class="dropdown-item" href="/mammoth_funding">Mammoth Fundraising Lead</a>
                            <a class="dropdown-item" href="/press_release">Press Release</a>
                        </div>
                    </div>
                    <br>
                    <h3><a class="navModalLink text-white" href="/endorsements">Endorsements</a></h3>
                    <br>
                    <h3><a class="navModalLink text-white" href="/get_involved">Get Involved</a></h3>
                    <br>
                    <a role="button" class="btn btn-lg text-white" id="donateMain" href="/donate">Donate</a>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col"><a href="https://www.facebook.com/MayorCindyLerner/"
                                class="fa ra fa-facebook"></a></div>
                        <div class="col"><a href="https://twitter.com/CindyforDst7" class="fa ra fa-twitter"></a>
                        </div>
                        <div class="col"><a href="https://www.instagram.com/cindyfordistrict7/?hl=en"
                                class="fa ra fa-instagram"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    {{!-- BOILERPLATE BREAK --}}
    <h1>exal</h1>



    {{!-- BOTTOM DONATE --}}
    <div class="container-fluid" style="padding: 0px">
        <div class="bottomInvolve">
            <div class="bottomInvolveContent">
                <h5 style="font-family: 'Carrois Gothic', sans-serif;">STAY UPDATED</h5>
                <h1 style="font-family: 'Paytone One', sans-serif;">Get Involved</h1>
                <div class="row bottomInvolveInputDiv">
                    <div class="col-8" style="padding: 0px">
                        <input type="email" class="form-control bottomInvolveInput" id="bottomInvolveEmail"
                            placeholder="Email address" style="border-radius: 0px">
                    </div>
                    <div class="col-4" style="padding: 0px">
                        <input type="text" class="form-control bottomInvolveInput" id="bottomInvolveZip"
                            placeholder="Zip" style="border-radius: 0px">
                    </div>
                </div>
                <button type="button" class="btn btn-lg text-white" id="bottomInvolveButton">GET INVOLVED</button>
            </div>
        </div>
    </div>
</div>

{{!-- FOOTER ROW --}}
<div class="container-fluid">
    <div class="row" id="footer">
        <div class="col-12 col-lg-4" id="leftFooter">
            <img src="images/nav/CL_Logo.jpg" alt="Cindy Lerner Logo" style="border-radius: 10px">
            <br>
            <div style="margin: 50px auto">
                <a role="button" class="btn btn-lg text-white leftFooterButtons" href="/donate">Contribute</a>
                <br>
                <a role="button" class="btn btn-lg text-white leftFooterButtons" href="/volunteer">Volunteer</a>
            </div>
            <div class="row SocialMediaRow">
                <div class="col"><a href="https://www.facebook.com/MayorCindyLerner/" class="fa sa fa-facebook"></a>
                </div>
                <div class="col"><a href="https://twitter.com/CindyforDst7" class="fa sa fa-twitter"></a></div>
                <div class="col"><a href="https://www.instagram.com/cindyfordistrict7/?hl=en"
                        class="fa sa fa-instagram"></a></div>
                <div class="col"><a href="https://www.youtube.com/watch?v=g4UXYV-okFM" class="fa sa fa-youtube"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8" id="rightFooter">
            <div class="row d-none d-lg-flex" id="footerNavbar">
                <div class="col"><a href="/" class="footerNavbarLinks">Home <span class="sr-only">(current)</span></a>
                </div>
                <div class="col"><a href="/meet_Cindy" class="footerNavbarLinks">Meet Cindy</a></div>
                <div class="col">
                    <a class="dropdown footerNavbarLinks" href="/priorities" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Priorities
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/traffic">Traffic</a>
                        <a class="dropdown-item" href="/flooding">Flooding</a>
                        <a class="dropdown-item" href="/water">Water</a>
                        <a class="dropdown-item" href="/leadership">Leadership</a>
                    </div>
                </div>
                <div class="col"><a href="/contact" class="footerNavbarLinks">Contact</a>
                </div>
                <div class="col"><a href="/district" class="footerNavbarLinks">District</a></div>
            </div>
            <div id="rightFooterInfo">
                <p>Friends of Cindy Lerner</p>
                <p>1234 Address Dr, Miami FL, </p>
                <p>305-992-3433</p>
            </div>
            <div class="row rightFooterButtons">
                <div class="col"><a href="/privacy_policy" style="padding: 0px 5px">Privacy Policy</a></div>
                <div class="col"><a href="/in_the_media" style="padding: 0px 5px">In the Media</a></div>
            </div>
            <div>
                <p class="paidForBy">PAID FOR BY FRIENDS OF CINDY LERNER</p>
            </div>
            <div>
                <a href="https://estreet.co/" class="designBy">DESIGN BY ESTREET</a>
            </div>
        </div>
    </div>
</div>