{{!-- DESKTOP IMG --}}
<div class="container-fluid d-none d-lg-flex" style="padding: 0px">
    <div class="desktopTopIndex fadeIn">
        <div class="desktopTopContentIndex">
            <h5 style="font-family: 'Carrois Gothic', sans-serif; letter-spacing: 2px;">
                GET INVOLVED
            </h5>
            <h1 style="font-family: 'Paytone One', sans-serif;">Moving Miami Forward</h1>
            <div class="row top">
                <div class="col-8" style="padding: 0px">
                    <input type="email" class="form-control" id="topEmailDesktopIndex" placeholder="Email address"
                        style="border-radius: 0px">
                </div>
                <div class="col-4" style="padding: 0px">
                    <input type="text" class="form-control" id="topZipDesktopIndex" placeholder="Zip"
                        style="border-radius: 0px">
                </div>
            </div>
            <button type="button" class="btn btn-lg text-white" id="topButtonDesktopIndex"
                style="font-family: 'Carrois Gothic', sans-serif; letter-spacing: 2px">GET INVOLVED</button>
        </div>
    </div>
</div>

{{!-- RESPONSIVE TOP IMG --}}
<div class="container-fluid d-lg-none" style="padding: 0px">
    <div class="topImgResponsiveIndex fadeIn"></div>
    <div class="topContentResponsiveIndexDiv">
        <div class="topContentResponsive fadeIn">
            <h5 style="font-family: 'Carrois Gothic', sans-serif; letter-spacing: 2px; color: #5c8ac1">GET INVOLVED
            </h5>
            <h1 style="font-family: 'Paytone One', sans-serif; color: white">Moving Miami Forward</h1>
            <div class="row top">
                <div class="col-8" style="padding: 0px">
                    <input type="email" class="form-control" id="topEmailResponsiveIndex" placeholder="Email address"
                        style="border-radius: 0px">
                </div>
                <div class="col-4" style="padding: 0px">
                    <input type="text" class="form-control" id="topZipResponsiveIndex" placeholder="Zip"
                        style="border-radius: 0px">
                </div>
            </div>
            <button type="button" class="btn btn-lg text-white" id="topButtonResponsiveIndex"
                style="font-family: 'Carrois Gothic', sans-serif; letter-spacing: 2px">GET INVOLVED</button>
            <div class="row SocialMediaRow">
                <div class="col"><a href="https://www.facebook.com/MayorCindyLerner/" class="fa sa fa-facebook"></a>
                </div>
                <div class="col"><a href="https://twitter.com/CindyforDst7" class="fa sa fa-twitter"></a></div>
                <div class="col"><a href="https://www.instagram.com/cindyfordistrict7/?hl=en"
                        class="fa sa fa-instagram"></a></div>
                <div class="col"><a href="https://www.youtube.com/watch?v=g4UXYV-okFM" class="fa sa fa-youtube"></a>
                </div>
            </div>
            <div style="margin: 50px auto">
                <a role="button" class="btn btn-lg text-white leftFooterButtons" href="/donate">Contribute</a>
                <br>
                <a role="button" class="btn btn-lg text-white leftFooterButtons" href="/volunteer">Volunteer</a>
            </div>
        </div>
    </div>
</div>


{{!-- TOP FOOTBAR --}}
<div class="container-fluid d-none d-lg-block" style="padding: 0px">
    <div class="row" id="topFootbar">
        <a href="/priorities" style="background: #8bbcf7" class="text-white topFootbarDiv">
            <div class="col-4 topFootbarText">PRIORITIES</div>
        </a>
        <a href="/volunteer" style="background: #4185d8" class="text-white topFootbarDiv">
            <div class="col-4 topFootbarText">VOLUNTEER</div>
        </a>
        <a href="/donate" style="background: #0a4c9c" class="text-white topFootbarDiv">
            <div class="col-4 topFootbarText">CONTRIBUTE</div>
        </a>
    </div>
</div>

{{!-- MEET CINDY SECTION --}}
<div class="meetCindyIndex fadeIn">
    <h1 style="font-family: 'Paytone One', sans-serif; color: #0a4c9c;">Meet Cindy Lerner</h1>
    <p style="letter-spacing: 1px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam odio ipsa
        architecto numquam delectus
        consequuntur, sed corrupti non ut autem iure dolor eligendi! Hic, doloremque culpa obcaecati animi rem eum!
    </p>
    <a role="button" class="btn btn-lg" id="meetCindyIndexButton" style="font-family: 'Paytone One', sans-serif;"
        href="/meet_Cindy">Learn More &rarr;
    </a>
</div>

{{!-- ON THE ISSUES SECTION --}}
<div class="container-fluid" style="padding: 0px">
    <div class="row" id="onTheIssuesIndexRow">
        <div class="col col-12 col-lg-6">
            <iframe src="https://www.youtube.com/embed/g4UXYV-okFM" id="onTheIssuesIndexVideo" class="fadeIn">
            </iframe>
        </div>
        <div class="col col-12 col-lg-6" id="onTheIssuesIndexContent">
            <div class="onTheIssuesIndexDiv fadeIn">
                <h4 style="font-family: 'Carrois Gothic', sans-serif; letter-spacing: 3px">PRIORITIES</h4>
                <h2 style="font-family: 'Paytone One' , sans-serif;">On the Issues</h2>
                <p style="letter-spacing: 1px">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas
                    odio in, sunt fugit laudantium
                    illo est, sint quam cum nostrum dolor assumenda aspernatur tempora dolorem ut unde aliquam
                    beatae porro?
                </p>
                <a role="button" class="btn btn-lg" id="issuesIndexButton" href="/priorities">Learn More</a>
            </div>
        </div>
    </div>
</div>


{{!-- FROM THE CAMPAIGN --}}
<div class="container-fluid" id="fromCampaignIndexDiv">
    <div style="text-align: center; margin: 100px 0px 50px 0px">
        <h4 style="font-family: 'Carrois Gothic', sans-serif; letter-spacing: 3px">THE LATEST</h4>
        <h1 style="font-family: 'Paytone One' , sans-serif;">From the Campaign</h1>
    </div>
    <div class="row" id="cardRowIndex">
        <div class="col-12 col-lg-4">
            <div class="card fromCampaignCardIndex" style="background: #8bbcf7">
                <div class="card-body">
                    <a href="https://www.youtube.com/watch?v=g4UXYV-okFM" class="fa fa-rss text-white"
                        style="padding: 12px;"></a>
                    <a href="https://www.youtube.com/watch?v=g4UXYV-okFM" class="text-white">
                        <p class="card-text fromCampaignCardText" id="fromCampaignNewsText">Some quick example text
                            to
                            build on the card
                            title and make up the bulk of
                            the
                            card's content.</p>
                        <p style="font-family: 'Open Sans Condensed',Sans-serif;">
                            <span id="fromCampaignNewsTime">X</span> hours ago
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="ol-12 col-lg-4">
            <div class="card fromCampaignCardIndex" style="background: #4185d8">
                <div class="card-body">
                    <a href="https://www.facebook.com/MayorCindyLerner/" class="fa fa-facebook text-white"
                        style="padding: 12px;"></a>
                    <a href="https://www.facebook.com/MayorCindyLerner/" class="text-white">
                        <p class="card-text fromCampaignCardText" id="fromCampaignFacebookText">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis totam rerum quasi
                            dolorum
                            reprehenderit? Autem ut modi voluptatum. Aliquam, dolor! Cupiditate quibusdam error
                            obcaecati libero debitis omnis quas vel corporis!
                        </p>
                        <p style="font-family: 'Open Sans Condensed',Sans-serif;">
                            <span id="fromCampaignFacebookTime">X</span> hours ago
                        </p>
                    </a>
                </div>
            </div>
        </div>
        <div class="ol-12 col-lg-4">
            <div class="card fromCampaignCardIndex" style="background: #0a4c9c">
                <div class="card-body">
                    <a href="https://twitter.com/CindyforDst7" class="fa fa-twitter text-white"
                        style="padding: 12px"></a>
                    <a href="https://twitter.com/CindyforDst7" class="text-white">
                        <p class="card-text fromCampaignCardText" id="fromCampaignTwitterText">Some quick
                            example
                            text
                            to build on the
                            card
                            title and make up the bulk of
                            the
                            card's content.</p>
                        <p style="font-family: 'Open Sans Condensed',Sans-serif;">
                            <span id="fromCampaignTwitterTime">X</span> hours ago
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{{!-- VIEW DISTRIC BUTTON --}}
<div class="container-fluid" style="padding: 0px">
    <a href="/district">
        <div class="viewDistrictButton">
            <p style="margin: 0px">VIEW THE DISTRICT &rarr;</p>
        </div>
    </a>
</div>