<div class="container-fluid" style="padding: 0px">
    <div class="topImgMeetCindy fadeIn" style="display: inline-block">
        <div class="topImgContentMeetCindy align-bottom">
            <h4 style="font-family: 'Carrois Gothic', sans-serif; letter-spacing: 3px; color:rgba(255,255,255,.76)">
                ABOUT HER</h4>
            <h2 style="font-family: 'Paytone One', sans-serif; color: white; letter-spacing: 2px;">MEET CINDY</h2>
        </div>
    </div>
</div>

<div class="container-fluid" style="padding: 0px">
    <div class="meetCindyContainer fadeIn">
        <div class="row">
            <div class="col-12 col-lg-6"><img src="/images/about1.jpg" alt="Cindy Lerner" class="meetCindyImgs">
            </div>
            <div class="col-12 col-lg-6"><img src="/images/about2.jpg" alt="Cindy Lerner" class="meetCindyImgs">
            </div>
        </div>
        <h2 style="font-family: 'Paytone One' , sans-serif;">State Representative</h2>
        <p class="meetCindyP">As a practicing Attorney for
            the Guardian ad Litem program, Cindy fought for critical educational and
            mental health services for the abused children she represented. She was horrified by the failures of the
            juvenile court system and motivated to make a difference at the legislative level. She ran for office
            and was elected to serve in the Florida legislature. While serving, Cindy’s advocacy moved beyond child
            advocacy and extended into environmental issues where she took on powerful special interests and
            entrenched Florida state government officials that threatened our drinking water. She defeated their
            efforts to allow untreated stormwater to be injected into our aquifer. She also fought against the
            powerful citrus lobby to protect our local fruit trees from elimination. Her bold leadership and courage
            made an impact for our community.
        </p>
    </div>
    <div class="quoteBreakMeetCindy">
        <h3 style="font-family: cursive;">"</h3>
        <h4 style="font-family: 'Paytone One' , sans-serif;">For sixteen years, Cindy trained and supervised
            hundreds
            of volunteer attorneys helping our most vulnerable children—those in the foster care system. She now
            serves on the Board of Pace Center for Girls helping at-risk high school girls overcome their challenges
            and change their lives. </h4>
        <h3 style="font-family: cursive;">"</h3>
    </div>
    <div class="meetCindyContainer">
        <h2 style="font-family: 'Paytone One' , sans-serif;">Mayor of Pinecrest</h2>
        <p class="meetCindyP">
            Mayor Lerner created a Climate
            Action Plan to address the threats from sea level rise, flooding, and extreme weather. She also
            transformed Pinecrest Gardens into a beautiful botanical garden and a popular cultural arts facility for
            the entire county which attracts significant cultural arts grants. As Mayor, Cindy created 2 programs to
            support generations from youth to seniors. The Youth Advisory Council is designed to provide leadership
            and civic engagement opportunities for selected local high school students. One of the first graduates
            of the program was recently honored with the Miami-Dade Rookie Teacher of The Year Award. The Pinecrest
            Pioneers celebrate local seniors over age 80 with a twice yearly luncheon.
        </p>
        <p class="meetCindyP">
            She also created the Education Advisory Council which is designed to facilitate communication between
            the Village of Pinecrest and the 5 public schools within Pinecrest. Programs like the Anti-Defamation
            League’s “No Place For Hate” were identified and implemented in all Pinecrest schools.
        </p>
        <div class="row">
            <div class="col-12 col-lg-6"><img src="/images/about1.jpg" height="400px" alt="Cindy Lerner"
                    class="meetCindyImgs">
            </div>
            <div class="col-12 col-lg-6"><img src="/images/about2.jpg" height="400px" alt="Cindy Lerner"
                    class="meetCindyImgs">
            </div>
        </div>
    </div>
</div>