.chipInDiv{
    background: linear-gradient(to right, #0f5bb9, #a2c1e7)
}
.chipInDiv:hover{
    background: linear-gradient(to bottom right, #449841, #97be96)
}
#chipInText{
    text-align: center;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 25px;
    font-size: 11px;
    letter-spacing: 4px
}
.navbar{
    font-family: 'Paytone One', sans-serif;
    padding: 0px;
    background: white;
}
#navLogo{
    width: 35%   
}
.nav-link{
    color: #0f5bb9 !important
}
.nav-link:hover{
    color: #449841 !important
}
#navDonate{
    background: #0f5bb9;
    border-radius: 0px;
    padding: 10px 40px;
}
#navDonate:hover{
    background: #449841
}
.dropdown-menu{
    color: #0f5bb9 !important
}
.modal{
    margin: 25px auto
}
#navModalContent{
    background: #0f5bb9;
    text-align: center;
    font-family: 'Paytone One', sans-serif;
    border-radius: 25px;
    text-shadow: 2px 2px 2px #000000;
}
.dropdown-item{
    text-shadow: none !important
}
#donateMain{
    background: #449841;
    border-radius: 0px;
    padding: 5px 25px;
    -webkit-box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.25); 
    box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.25);
}
#donateMain:hover{
    background: #0f5bb9
}
.ra{
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px 2px;
    background: white;
    color: #0f5bb9;
    border: 1px black solid
}


/* BOTTOM DONATE */
.bottomDonate{
    height: 300px;
    background: url("/images/nav/CL_photo.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: 150%
}
.bottomDonateContent{
    text-align: center;
    color: white;
    letter-spacing: 1px;
    width: 90%;
    margin: auto;
    padding: 20px;
}
.bottomDonateInput{
    padding: 20px 10px;
    font-size: 15px;
    font-family: 'Paytone One', sans-serif;
}
.bottomDonateInputDiv{
    margin: 0px
}
#bottomDonateButton{
    background: #82c980;
    padding: 10px 55px;
    margin: 20px auto;
    font-family: 'Paytone One', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 0px
}


/* FOOTERS */
#footer{
    padding-left: 0px
}
#leftFooter, #rightFooter{
    text-align: center;
    padding: 100px 20px;
}
/* LEFT FOOTER */
#leftFooter{
    background: #0f5bb9
}
.leftFooterButtons{
    background: #6593ca;
    width: 275px;
    margin: 5px auto;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 2px;
    border-radius: 0px
}
.leftFooterButtons:hover{
    background: #76fff4
}
.sa{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px 2px;
    background: #0f5bb9;
    color: rgba(255,255,255,.49);
    border: solid 2px rgba(255,255,255,.49);
}
.sa:hover{
    color: white
}
#SocialMediaRow{
    width: 70%;
    margin: auto
}
#SocialMediaRow > div {
    padding: 0px 3px
}

/* RIGHT FOOTER */
#rightFooter{
    background: #0a4c9c
}
#footerNavbar{
    width: 65%;
    margin: auto;
    font-family: 'Paytone One', sans-serif;
}
#footerNavbar > div {
    padding: 0px 5px;
}
.footerNavbarLinks{
    color: rgba(255,255,255,.76)
}
.footerNavbarLinks:hover{
    color: white
}

#rightFooterInfo{
    margin: 10px auto 50px auto
}
#rightFooterInfo > p {
    color: rgba(255,255,255,.59);
    font-family: 'Open Sans Condensed',Sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin: 5px;
    letter-spacing: 1px
}
.rightFooterButtons{
    margin: auto;
    width: 65%;
    font-family: 'Open Sans Condensed',Sans-serif;
}
.paidForBy{
    border: 3px solid rgba(222,196,230,.23);
    color: rgba(255,255,255,.73);
    font-family: 'Open Sans Condensed',Sans-serif;
    width: fit-content;
    margin: 10px auto 30px auto;
    padding: 10px 30px;
    letter-spacing: 1px
}
.designBy{
    letter-spacing: 3px;
    font-family: 'Paytone One', sans-serif;
    color: rgba(255,255,255,.3)
}



/* INDEX PAGE */
.topImgResponsiveIndex{
    background: url("/images/nav/CL_photo.jpg");
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%
}
.topContentResponsiveIndexDiv{
    background: #0a4c9c;
    padding: 20px
}
.topContentResponsive{
    width: 95%;
    margin: auto;
    color: white;
    text-align: center
}
.meetCindyIndex{
    text-align: center;
    padding: 25px
}
#meetCindyIndexButton{
    color: #0a4c9c;
    border: 2px #0a4c9c solid;
    border-radius: 0px;
}



@media (min-width: 576px){
    .navbar{
        padding: .5rem 1rem;
    }
    #navLogo{
        width: 200px
    }

    .bottomDonate{
        height: 600px;
        background-size: 100%
    }
    .bottomDonateContent{
        width: 20%;
        position: relative;
        left: 150px;
        top: 200px;
        margin: inherit;
        padding: inherit
    }
    .bottomDonateInputDiv{
        margin: auto
    }
    .bottomDonateButton{
        padding: 10px 85px
    }

    #rightFooterInfo{
        margin: 50px auto
    }
    .rightFooterButtons{
        margin: auto;
        width: 25%;
    }
    .meetCindyIndex{
        width: 45%;
        margin: auto
    }
}
@media (min-width: 576px) and (max-width: 769px) { 
    .bottomDonate{
        background-size: 150%
    }
}